# 카카오 API 키
KAKAO_CLIENT_ID=
KAKAO_CLIENT_SECRET=

# 구글 API 키
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Anthropic
ANTHROPIC_API_KEY=

# 이메일 인증 관련
EMAIL_SENDER=
GOOGLE_APP_KEY=

#사이트 키값 생성(소셜가입자 비번 설정 및 활용)
CATCHCATCH_KEY=

#포트원 REST 키
PORTONE_STORE_ID=
PORTONE_API_SECRET=
PORTONE_CARD_CHANNEL_KEY=
PORTONE_KAKAOPAY_CHANNEL_KEY=
PORTONE_TOSSPAY_CHANNEL_KEY=
PORTONE_VBANK_CHANNEL_KEY=

# CoolSMS키
SOL_API_KEY=
SOL_API_SECRET=
SOL_SENDER=

# MySQL 연결 정보 (dev 프로필)
MYSQL_URL=
MYSQL_USERNAME=
MYSQL_PASSWORD=