<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <ul class="navbar-nav ml-auto align-items-center">

        <!-- 사용자 화면 바로가기 -->
        <li class="nav-item d-flex align-items-center mr-3">
            <a href="/" target="_blank" class="btn btn-sm btn-user-view">
                <i class="fas fa-external-link-alt"></i>
                사용자 화면 보기
            </a>
        </li>

        <div class="topbar-divider d-none d-sm-block"></div>

        <!-- 관리자 프로필 -->
        <li class="nav-item dropdown no-arrow d-flex align-items-center">
            <a class="nav-link dropdown-toggle d-flex align-items-center"
               href="#"
               id="userDropdown"
               role="button"
               data-toggle="dropdown"
               aria-haspopup="true"
               aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">최고 관리자</span>
                <img class="img-profile rounded-circle" src="/admin/img/undraw_profile.svg">
            </a>
        </li>
    </ul>
</nav>