<footer class="cc-booking-footer">
    <div class="cc-booking-footer__inner">
        <span>CatchCatch 예매 서비스</span>
        <span>고객센터 1588-2026</span>
        <span>평일 10:00 - 18:00</span>
    </div>
</footer>

<script src="/js/catchcatch-ui.js"></script>
</body>
</html>