<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>{{#pageTitle}}{{pageTitle}} | {{/pageTitle}}CatchCatch</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- 공통 CSS -->
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/catchcatch-purple.css">

    <!-- 예매창 전용 CSS -->
    <link rel="stylesheet" href="/css/booking-seat.css">
    <link rel="stylesheet" href="/css/booking-payment.css">
    <link rel="stylesheet" href="/css/booking-complete.css">
</head>

<body>
