<div class="cc-user-menu" data-user-menu>
    <button class="cc-user-menu__button" type="button" data-user-menu-button aria-haspopup="true" aria-expanded="false">
        <span class="cc-user-menu__name">{{#username}}{{username}}{{/username}}{{^username}}사용자{{/username}}</span>
        <span class="cc-user-menu__avatar">
            {{#profileImage}}
            <img src="{{profileImage}}" alt="프로필 이미지">
            {{/profileImage}}
            {{^profileImage}}
            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><path d="M20 21a8 8 0 0 0-16 0"/><circle cx="12" cy="7" r="4"/></svg>
            {{/profileImage}}
        </span>
    </button>
    <div class="cc-user-menu__panel" data-user-menu-panel>
        <div class="cc-user-menu__head">
            <strong>{{#username}}{{username}}{{/username}}{{^username}}사용자{{/username}}</strong>
            <span>{{#email}}{{email}}{{/email}}{{^email}}CatchCatch 회원{{/email}}</span>
        </div>
        <a href="/users/bookings">예매 내역</a>
        <a href="/users/payments">결제 내역</a>
        <a href="/users/liked-concerts">관심 공연</a>
        <a href="/users/mypage">회원 정보 수정</a>
        <a href="/support/faqs">고객센터</a>
        {{#isAdmin}}
        <a class="cc-user-menu__admin" href="/admin">관리자 콘솔</a>
        {{/isAdmin}}
        <a class="cc-user-menu__logout" href="/users/logout">로그아웃</a>
    </div>
</div>
