<aside class="cc-side-menu">
    <a href="/support/faqs" class="cc-side-menu__item {{#navFaq}}is-active{{/navFaq}}">FAQ</a>
    <a href="/support/inquiries/save" class="cc-side-menu__item {{#navInquirySave}}is-active{{/navInquirySave}}">1:1 문의하기</a>
    <a href="/support/inquiries" class="cc-side-menu__item {{#navInquiry}}is-active{{/navInquiry}}">1:1 문의 내역</a>
    <a href="/support/notices" class="cc-side-menu__item {{#navNotice}}is-active{{/navNotice}}">공지사항</a>
</aside>
